
.card{
    width: 1100px;
    position: relative;
    margin:1px auto;
}

img{
    width:100%
}

.card_data{
    width:420px;
   position: absolute;
   bottom: 0;
   margin:230px 0 80px 150px;
}

h2{
    color:darkorange;
    position: sticky;
    top:0;
    background-color: white;
    padding: 20px 10px 20px 100px;
    margin:0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: bold;
    
}

.btn{
    background-color: darkorange;
    color: white;
    border-radius: 80px;
    border:none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 16px;
}

.card_color{
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.xyz{
    font-weight: bold;
    font-size: 15px;
} 

.card_data h1{
    font-size:35px;
    font-weight: bold;
    margin:0;
    
}
.abc{
    font-size:19px;
}